[submodule "EasyAccess_Front"]
	path = EasyAccess_Front
	url = https://github.com/bmirandan/EasyAccess_Front.git
 	branch = master
[submodule "EasyAccess_FaceAPI"]
	path = EasyAccess_FaceAPI
	url = https://github.com/felixurtubia/EasyAccess_FaceAPI.git
	branch = master